<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Flask Blog!</h1>
    <a href="{{ url_for('add') }}"><button id="add-post">✚ Add Post</button></a>
    {% for post in posts%}
        <div class="post">
            <h2>{{ post["title"] }}</h2>
            <form method="POST" action="{{ url_for('delete', post_id=post.id_) }}">
                <input type="submit" value="Delete">
                <input type="submit" value="Update Post" formaction="{{ url_for('update', post_id=post.id_) }}"
                formmethod="get">
            </form>
            <p><em>Written by {{ post["author"] }}</em></p>
            <p>{{ post["content"] }}</p>
            <form method="POST" action="{{ url_for('like_post', post_id=post.id_) }}">
                <label for="like">{{ post.like }} 👍🏼</label>
                <input type="submit" id="like" value="Like">
            </form>
        </div>
    {% endfor %}
</body>
</html>
