<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="post">
    <form method="POST" action="{{ url_for('update', post_id=post.id_) }}">
        <label for="title">Title:</label><br>
        <p><input type="text" id="title" name="title" value="{{ post.title }}"></p><br>
        <label for="content">Content:</label><br>
        <p><textarea id="content" name="content">{{ post.content }}</textarea></p><br>
        <input type="submit" value="Update Post">
    </form>
    </div>
</body>
</html>